@addTagHelper *, Kendo.Mvc

<div id="climateCtrl">
    <kendo-slider name="slider"
                  increase-button-title="Right"
                  decrease-button-title="Left" 
                  min="0" max="30"
                  small-step="1"
                  large-step="10"
                  value="18" class="temperature" title="slider"></kendo-slider>

        <kendo-rangeslider name="rangeslider" class="humidity"
                           min="0" max="10"
                           small-step="1"
                           large-step="10"></kendo-rangeslider>

</div>
<style>
    #climateCtrl {
        width: 245px;
        height: 167px;
        margin: 30px auto;
        padding: 102px 0 0 156px;
        background: url("@Url.Content("~/shared/web/slider/climateController.png")") transparent no-repeat 0 0;
    }
    .humidity {
        margin: 67px 0 0 15px;
        width: 170px;
    }
</style>
