<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="test" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="(.*)/everlive" />
          <action type="Redirect" url="{R:1}/kinvey" redirectType="Found" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
<!--ProjectGuid: F3669119-96FB-460D-AFA7-6076A01DA3DD-->